* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box1{
  height: 200px;
  background-image: url(caravan/img/airport.jpg);
  background-size: cover;
  background-position: center;
}

.box2{
  height: 200px;
  background-image: url(caravan/img/japan.jpg);
  background-size: cover;
  background-position: center;
}

.box3{
  height: 200px;
  background-image: url(caravan/img/mv.jpg);
  background-size: cover;
  background-position: center;
}

.box4{
  height: 200px;
  background-image: url(caravan/img/snow.jpg);
  background-size: cover;
  background-position: center;
}
